.gridContainer {
    display: grid;
    min-height: 130vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr 30vh;
    grid-template-areas:
        "lateral cabecalho"
        "lateral conteudo"
        "lateral rodape";
}


header {
    grid-area: cabecalho;      
}

aside {
    grid-area: lateral;
}

main {
    grid-area: conteudo;
}

footer {
    grid-area: rodape;
}
